body {
    background: url('../images/b02.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #e9e7e7;
}

h1 {
    color: #d4af37; /* Dourado */
}

.navbar-light .navbar-nav .nav-link {
    color: #fa8072; /* Salmão */
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #d4af37; /* Dourado ao passar o mouse */
}
.card {
    margin-bottom: 20px;
    border-radius: 10px; /* Cantos arredondados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombras para dar profundidade */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efeito suave ao passar o mouse */
}

.card:hover {
    transform: translateY(-5px); /* Leve elevação ao passar o mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombras mais intensas ao passar o mouse */
}

.card-body {
    padding: 15px;
}

.card img {
max-width: 100%;
height: auto; /* Preserva a proporção em todos os tamanhos */
max-height: 200px; /* Limita a altura máxima */
object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
border-radius: 8px;
}

@media (min-width: 768px) {
    .card img {
        max-height: 275px; /* No desktop, aumente a altura máxima */
    }
}

@media (min-width: 1200px) {
    .card img {
        max-height: 275px; /* Para telas maiores, ajuste novamente */
    }
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
    color: #555;
}

.cart-button {
    font-size: 1rem;
    padding: 8px 12px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Espaço entre os cards */
    justify-content: center; /* Alinha os cards no centro */
}

.col-md-4 {
    flex: 0 0 32%; /* Cards ocupando 32% da largura para 3 por linha */
    box-sizing: border-box;
}
