body {
    background-color: #f9f9f9; /* Fundo branco leve */
    color: #333; /* Texto em cinza escuro para contraste */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fffbea; /* Branco com um tom dourado suave */
    border-bottom: 2px solid #e0c097; /* Linha dourada suave */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a#logo {
    text-decoration: none;
    color: #e0c097; /* Dourado suave */
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: none;
    background-color: #fffbea;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50px;
    right: 20px;
}

nav a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 5px 0;
    font-weight: bold;
}

button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #e0c097;
    cursor: pointer;
}

aside {
    background-color: #fffbea;
    color: #333;
    padding: 20px;
    margin: 10px;
    border-left: 3px solid #e0c097;
}

main {
    padding: 20px;
    background-color: #ffffff;
    color: #333;
    margin: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #e0c097;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
